/node_modules
/public/hot
/public/storage
/public/.htaccess
/public/.htpasswd
/storage/*.key
/vendor
/public/uploads/*
.env
.env_srv
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
